<footer>
    <div>
      <h4>About Us</h4>
      <p>We are a leading ecommerce website offering high-quality products at affordable prices.</p>
    </div>
    <div>
      <h4>Connect with Us</h4>
      <ul>
        <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      </ul>
    </div>
    <div>
      <p>Copyright © 2023
        <a href="#">Your Ecommerce Website</a>. All rights reserved.</p>
    </div>
  </footer>
  