<nav>
    <h1>Merkato</h1>
    <div class="nav_container_home">
        <h4 routerLink="/" (click)="changeHomeColor()" [style.color]="homeColor">Home</h4>
        <h4 routerLink="/cart" (click)="changeCartColor()" [style.color]="cartColor">Cart</h4>
        <h4 *ngIf="isLoggedIn() && user.email === 'mintesnot@gmail.com'" routerLink="/admin" (click)="changeAdminColor()" [style.color]="adminColor">Admin</h4>
    </div>
    <div *ngIf="!isLoggedIn()" class="nav_container_auth">
        <h3 id="sign-in" routerLink="/sign-in">Sign In</h3>
        <h3 id="sign-up" routerLink="/sign-up">Sign Up</h3>
    </div>
    <div *ngIf="isLoggedIn()" class="nav_container_logged" >
        <h5>{{ user.firstName }}</h5>
        <h3 (click)="show()" id="firstChar">{{ user.firstName[0] }}</h3>
        <div [style.display]="isVisible ? 'block' : 'none'" class="user">
            <h5 id="email">{{ user.email }} </h5>
            <button id="log_out" (click)="logOut()">Log Out</button>
        </div>
    </div>
 </nav>
  