*{
    margin: 0;
}

.items-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid orange;
    min-height: 65vh;
}

.item {
    margin: 1rem;
    width: 20%;
    height: 50%;
}

.container {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}

img {
    width: 100%;
}

h4,p,button {
    margin: 2.5%;
}

button {
    width: 95%;
    padding: 0.5rem 0;
    border: none;
    color: white;
    font-weight: bold;
    background: orange;
    border-radius: 5%;
    cursor: pointer;
}

@media (max-width:700px) {
    button {
        padding: 0.35rem;
    }
}
@media (max-width:500px) {
    button {
        padding: 0.2rem 0;
    }
}