.container {
  min-height: 65vh;
}

h2 {
    text-align: center;
    /* margin: auto 30%; */
}

.no-items {
  margin: 10% 38%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 2% 20%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 15%;
  }

  tr {
    height: 16vh;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    margin: 0.5vh auto;
  }

  .order-container, .amount-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto 25%;
  }

  .order_amount {
    text-align: center;
    border: 1px solid black;
    outline: none;
  }