<app-navbar></app-navbar>

<div class="container">
    <h1 class="no-items"  *ngIf="items.length == 0">
      No items in cart
    </h1>
    
    <h2  *ngIf="items.length > 0">
      <span style="color: green;">
        {{ items.length }}
      </span>
        items in your Cart
    </h2>

    <table [style.display]="items.length > 0 ? 'block' : 'none'">
        <tr>
          <th>Picture</th>
          <th>Product</th>
          <!-- <th>Amount</th> -->
          <th>Price</th>
          <th>Order</th>
        </tr>
        <tr *ngFor="let item of items">
          <td class="img-container" >
            <img [src]="item[0]" alt="item">
          </td>
          <td>
            {{ item[1] }}
          </td>
          <!-- <td >
            <div class="amount-container">
                <input type="text" class="order_amount" (change)="addAmount($event, item)" placeholder="1">
            </div>
          </td> -->
          <td>
            {{ item[2] * item[3] }}            
          </td>
          <td>
            <div class="order-container">
              <button class="order" (click)="order(item)">order</button>
              <button class="cancel" (click)="cancel(item)">cancel</button>
            </div>
          </td>
        </tr>
      </table>
</div>

<app-footer></app-footer>