<app-navbar></app-navbar>

<div>
    <div class="top-container">
        <h2> {{ items.length }} available items in the store</h2>
        <button>Add</button>
    </div>
    
    <table>
        <tr>
          <th>Product</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Order</th>
        </tr>
        <tr *ngFor="let item of items">
          <td>
            {{ item.name }}
          </td>
          <td >
            11
          </td>
          <td>
            {{ item.price }}            
          </td>
          <td>
            <div class="order-container">
              <button class="edit">Edit</button>
              <button class="remove">Remove</button>
            </div>
          </td>
        </tr>
      </table>
</div>

<app-footer></app-footer>