.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 15%;
  }

  tr {
    height: 6vh;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  img {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    margin: 0.5vh auto;
  }

  .order-container, .amount-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto 25%;
  }

  .edit {
    border: none;
    background: none;
    color: blue;
    border-right: 1px solid rgb(189, 181, 181);
    padding-right: 1rem;
    cursor: pointer;
  }

  .remove {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
  }